h6 {
margin: 20px;
}

.all {
  height: 300px;
  width: 1450px;
  margin: 0 auto;
}

#div0, #div1, #div2, #div3 {
float: left;
margin: 0 auto;
height: 260px;
width: 360px;
}

#dov0 {
  float: left;
  height: 173px;
  width: 281px;
  }

  #dov1 {
    float: left;
    height: 173px;
    width: 360px;
    }

  #dav2 {
    float: left;
    height: 258px;
    width: 281px;
    }

    #dav3 {
      float: left;
      height: 259px;
      width: 360px;
      }

  .second{
    height: 173px;
  width: 641px;
  margin: 0 auto;
  }

  .next{
    height: 300px;
  width: 641px;
  margin: 0 auto;
  }
