<div>
  <h6>Witajcie Dzieciaki. Bardzo się cieszę, że odwiedziliście naszą stronę.
    Macie tu wiele łanigłówek i zadań, które rozwiną Waszą kreatywność i logiczne myślenie.
    Mam nadzieję, iż moje zabawy przypadną Wam do gustu.
  </h6>
  <div id="rodzic">
    <span >N</span>
    <span >A</span>
    <span >U</span>
    <span >K</span>
    <span >A</span>
  </div>
  <div id="rodzic1">
    <span >Z</span>
    <span >A</span>
    <span >B</span>
    <span >A</span>
    <span >W</span>
    <span >A</span>
  </div>
  <div>
  <div><img [src]="start"></div>
  <div id="tooltip">Dziękujemy, że odwiedziłeś naszą stronę. Baw się dobrze :) </div>
</div>
</div>
