<section *ngIf="game">
<div *ngIf="!isGameActive">
  <img src='/assets/images/gamePuzzle/good.jpg' *ngIf="isWin">
  <img src='/assets/images/gamePuzzle/bad.jpg' *ngIf="!isWin">
</div>
<div *ngIf="isGameActive">
  <div class="puzzle">
    <button (click)="saveClick(game.image1.value, game.image2.value)">
      <img [src]='game.image1.imagePath'>
    </button>
    <button (click)="saveClick(game.image2.value, game.image1.value)">
      <img [src]='game.image2.imagePath'>
    </button>
  </div>
</div>
</section>
{{games | json}}
