<div class="text">
  <h6>Twoim zadaniem jest wpisać w pole nazwy zwierząt. Możesz skorzystać z podpowiedzi.
  </h6>
</div>
<div id="pudelko">
  <div id="karta">
    <div id="przod"></div>
    <div id="tyl">
      <p>Pies</p>
      <p>Kot</p>
      <p>Sarna</p>
      <p>Kon</p>
    </div>
  </div>
</div>
<div class="wrapper">
  <div class="container">
    <div *ngFor="let letter of list">
      <img src="{{letter.imagePath}}" id="zagadka">
    </div>
  </div>
</div>

<div class="answer">
  <form [formGroup]="form">
    <div class="kot">
      <input class="kot" type="text" name="kot" formControlName="kot"
        [ngClass]="{'in-valid': !form.controls['kot'].valid && form.controls['kot'].touched}">
      <b class="alert" *ngIf="!form.controls['kot'].valid && form.controls['kot'].touched"> Wpisałeś złą nazwę</b>
    </div>
    <div class="pies">
      <input class="pies" type="text" name="pies" formControlName="pies"
      [ngClass]="{'in-valid': !form.controls['pies'].valid && form.controls['pies'].touched}">
      <b class="alert" *ngIf="!form.controls['pies'].valid && form.controls['pies'].touched"> Wpisałeś złą nazwę</b>
    </div>
    <div class="sarna">
      <input class="sarna" type="text" name="sarna" formControlName="sarna"
      [ngClass]="{'in-valid': !form.controls['sarna'].valid && form.controls['sarna'].touched}">
      <b class="alert" *ngIf="!form.controls['sarna'].valid && form.controls['sarna'].touched"> Wpisałeś złą nazwę</b>
    </div>
    <div class="kon">
      <input class="kon" type="text" name="kon" formControlName="kon"
      [ngClass]="{'in-valid': !form.controls['kon'].valid && form.controls['kon'].touched}">
      <b class="alert" *ngIf="!form.controls['kon'].valid && form.controls['kon'].touched"> Wpisałeś złą nazwę</b>
    </div>
    <button id="button" [disabled]="!form.valid" (click)='show()'>SPRAWDŹ</button>
  </form>
</div>
