<div>
  <p>Masz przed sobą 12 zagadek dotyczących liczb. Spróbuj je rozwiązać. Do dzieła.</p>
  <h4>Pozostało Ci: {{clickClic}} ruchów</h4>
  <h4>Twoje punkty(max.12 pkt): {{count}} {{title}}</h4>
</div>


<!-- <div class="container">
  <div class="zagadka">
    <h6>Który kwiat ma więcej płatów?</h6>
    <button class="won" (click)="changGood()" (click)="sum()" [disabled]="isActive"><img [src]="img1"></button>
    <button class="noWon" (click)="changBad()"><img [src]="img2"></button>
  </div>
</div> -->
<app-puzzle-logika [image1]="imageValue1" [image2]="imageValue2" (clickEvent)="click($event)"></app-puzzle-logika>
