#div1, #div2, #div3, #div4, #div5, #div6, #div7, #div8{
  float: left;
  width: 200px;
  height: 100px;
  margin: 10px;
  padding: 10px;
  border: 2px solid black;
}
#div3, #div5, #div7{
  clear: both;
}
#div1:hover, #div8:hover{
  border-color: royalblue;
}
#div2:hover, #div7:hover{
  border-color: orangered;
}
#div3:hover, #div6:hover{
  border-color: brown;
}
#div4:hover, #div5:hover{
  border-color: green;
}
#drag1 {
   margin-right: 20px;;
 }
 .title {
   margin-top: 50px;
   float: left;
 }
 .text {
   height: 20px;
   margin: 20px auto;
   text-align: center;
   font-size: 10px;
   margin-top: 10px;
 }
 .all {
   width: 600px;
   margin: 0 auto;
 }
